@import './setting';

@import './gap';
@import './base';

@include gap-typography;
@include gap-color;
@include gap-table;
@include gap-btn;
@include gap-form;
@include gap-card;

$palette-item-margin: .3rem;
$editor-item-margin: auto;

// page ui
.palette {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    & > .item {
        border: 1px solid get-color(light-gray);
        font-size: .9rem;
        height: 7rem;
        line-height: 7rem;
        margin: $palette-item-margin;
        text-align: center;
        width: 7rem;
    }
}

.editor-wrap {
    display: flex;
    height: 100%;
    width: 100%;

    & > .item {
        height: 100%;
        margin: $editor-item-margin;
        width: 50%;
    }

    & > .editor-section {
        overflow: hidden;
    }

    & > .preview-section {
        overflow: auto;
    }

    .editor {
        height: 100%;
    }

    .preview {
        padding: 1rem;
    }
}

.ctrl-panel {
    bottom: 1rem;
    position: fixed;
    right: 1rem;
    z-index: 99;

    .ctrl-menu {
        bottom: 1.5rem;
        position: absolute;
        right: 1.5rem;
        z-index: 5;

        .card {
            margin-bottom: 0;
            min-height: 6rem;
            min-width: 7rem;
        }
    }

    & > .btn {
        bottom: 0;
        position: absolute;
        right: 0;
        z-index: 10;
    }
}
